body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Montserrat", sans-serif;
}
.hero-gradient {
  background:
    linear-gradient(rgba(0, 51, 153, 0.7), rgba(0, 51, 153, 0.7)),
    url("image_e38388.png");
  background-size: cover;
  background-position: center;
}
.timeline-line::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background: #003399;
  transform: translateX(-50%);
  z-index: 0;
}
@media (max-width: 768px) {
  .timeline-line::before {
    left: 20px;
  }
}
.bg-pattern {
  background-color: #f8fafc;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23003399' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2v-4h4v-2h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2v-4h4v-2H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.next-page-btn {
  display: block;
  width: fit-content;
  margin: 25px auto 0;
  padding: 14px 35px;
  background: #000;
  color: #0d6efd;
  font-weight: 600;
  border-radius: 40px;
  text-decoration: none;
  transition: 0.3s;
}

.next-page-btn:hover {
  background: #ffd966;
  color: #000;
  transform: scale(1.05);
}
:root {
  --muted: #6b7280;
}
.meta {
  color: var(--muted);
  font-size: 14px;
  margin-bottom: 8px;
  text-align: center;
  margin: 10px 0 0;
}
